{% extends "index.html" %}

{% block interest_form %}
    <div class="row medium-8 large-6 columns">
        <div class="blog-post">
            <p>A unique and clean toilet when you visit a nice coffee shop or restaurant, how important is this for you?<br/>
                Well we think… very.</p>

            <p>Loo, the mobile app helps you locate and rate toilets that offer a unique clean experience.</p>

            <ul>
                <li>Find clean establishments</li>
                <li>Get unique toilets experiences</li>
                <li>Rate visit to the Loo</li>
                <li>Reward toilet owners</li>
            </ul>

            <hr/>

            <p>Download the app, leave your email:</p>
        </div>
    </div>


    <div class="row medium-8 large-6 columns">
        <div class="blog-post">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}
