{% extends "index.html" %}

{% block interest_form %}
    <div class="row medium-8 large-6 columns">
        <div class="blog-post">
            <p><strong>We drink, we eat, we sleep and we relieve ourselves. Going to the toilet is one of our
                fundamental needs.
                So how can it be that there's still limited availability and poor quality of restrooms?</strong></p>

            <p>A unique and clean toilet when you visit a nice coffee shop or restaurant, how important is this for you?<br/>
                Well we think… very.</p>

            <p>Loo, the mobile app helps you locate and rate toilets that offer a unique clean experience.</p>

            <ul>
                <li>Find clean establishments</li>
                <li>Get unique toilets experiences</li>
                <li>Rate visit to the Loo</li>
                <li>Reward toilet owners</li>
            </ul>

            <h2>Our story</h2>

            <p>The Big idea for the Loo originates from validating a concept travel app amongst future users, after
                countless interesting travel stories we found an even bigger problem many travellers and shoppers who
                spend hours in the city centre said they had a hard time to find a clean and accessible restroom.</p>

            <p>Our team decided to change the whole idea and help everyone out of a shitty situation that is how our <em>Loo</em>
                app found a way to share many intimate moments with you!</p>

            <hr/>

            <p><strong>Download the app, leave your email:</strong></p>
        </div>
    </div>


    <div class="row medium-8 large-6 columns">
        <div class="blog-post">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}
